<div class="card h-100">
    <div class="card-body bg-light pt-2">
        <div class="d-flex flex-between-center">
            <div class="audience-chart-header p-0 bg-light scrollbar-overlay">
                <ul class="nav nav-tabs border-0 chart-tab flex-nowrap" id="audience-chart-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link mb-0 active" id="1-tab" data-bs-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">
                            <div class="audience-tab-item p-1">
                                <h6 class="text-800 text-nowrap mb-0">USD Pairs</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link mb-0" id="2-tab" data-bs-toggle="tab" href="#sessions" role="tab" aria-controls="sessions" aria-selected="false">
                            <div class="audience-tab-item p-1">
                                <h6 class="text-800 text-nowrap mb-0">ETH Pairs</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link mb-0" id="3-tab" data-bs-toggle="tab" href="#rate" role="tab" aria-controls="rate" aria-selected="false">
                            <div class="audience-tab-item p-1">
                                <h6 class="text-800 text-nowrap mb-0">BTC Pairs</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link mb-0" id="4-tab" data-bs-toggle="tab" href="#duration" role="tab" aria-controls="duration" aria-selected="false">
                            <div class="audience-tab-item p-1">
                                <h6 class="text-800 text-nowrap mb-0">Other Pairs</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <span class="pe-1"><span class="fas fa-filter"></span></span>
                <span class="pe-1"><span class="fas fa-link"></span></span>
                <span class="pe-1"><span class="fas fa-cog"></span></span>
                <span class="pe-3"><span class="fas fa-window-maximize"></span></span>
                <span class="text-warning"><span class="fas fa-times"></span></span>
            </div>
        </div>
        <div class="tab-content mt-3">
            <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-5353cc0f-ad9e-41e3-a366-23e3b6fac8a6" id="dom-5353cc0f-ad9e-41e3-a366-23e3b6fac8a6">
            <!-- code at: public/assets/js/echarts-example.js-->
            <div class="echart-candlestick-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
            </div>
            <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-9d537e1a-e682-425f-bffd-0432de85a2dd" id="dom-9d537e1a-e682-425f-bffd-0432de85a2dd">
            </div>
        </div>
    </div>
</div>