    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="{% static "vendors/overlayscrollbars/OverlayScrollbars.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/theme.min.css" rel="stylesheet" %}"  rel="stylesheet">
    {% comment %} <link href="{% static "assets/css/user.min.css" rel="stylesheet" %}"  rel="stylesheet"> {% endcomment %}